/*Selector Universal*/
* {
	propiedad: valor;
}

* {
	margin: 10px;
}

/*
* {
	color: red;
}
*/

/*Selector por tipo de etiqueta*/

h1 {
	color: red;
}

p {
	color: blue;
}

/*selector de elemento por clase*/

.titulo-2{
	color: green;
}

/*selector de elemento por ID*/

#parrafo2{
	color:yellow;
}

/* Selector de elemento por atributo */
[aca_entra="datos"]{
	color:red;
}

/* Selector de elemento de forma descendiente */
h2{
	color: yellow
}

h2{
	color: green
}
h2{
	color: rgb(60, 245, 205)
}

/* /////////////////////////////////// */
